.progressbar-container{
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: rgb(238, 238, 238);
}

.progressbar-filler{
  height: 5%;
  background-color: #E4E4E4;
  border-radius: 50px;
}