.step-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
}

.step-number {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 6px;
  background: $default-secondary-base-color;
  color: $default-secondary-light-color;
  text-align: center;
  font-size: 22px;
  margin-bottom: 3px;

  &-active {
    background-color: $default-primary-base-color;
    color: $white;
  }
}

.step-description {
  font-size: 16px;
  font-weight: bold;
  color: $default-secondary-light-color;

  &-active {
    color: $black;
  }
}